* {
  /* padding: 0 !important;
  margin: 0 !important; */
  color: #333 !important;
}

::selection {
  background: transparent;
}

.active {
  /* border-bottom: 2px solid cyan; */
  background-color: transparent;
  text-decoration: underline solid #0dcaf0 1.5px;
  text-underline-offset: 7px;
}

.list-group-item.active {
  color: #fff !important;
  background-color: #0dcaf0;
  border: none;
  text-decoration: none;
}

.btn-info {
  color: #fff !important;
}

.btn-outline-info:hover {
  color: #fff !important;
}

.nav-link {
  font-weight: 400;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 6px !important;
  padding-bottom: 3px !important;
}

.pointer {
  cursor: pointer;
}
