* {
  /* padding: 0 !important;
  margin: 0 !important; */
  color: #333 !important;
}

::selection {
  background: transparent;
}

.active {
  /* border-bottom: 2px solid cyan; */
  text-decoration: underline solid cyan 1.5px;
  text-underline-offset: 7px;
}

.nav-link {
  font-weight: 400;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 6px !important;
  padding-bottom: 3px !important;
}

.pointer {
  cursor: pointer;
}
