* {
  /* padding: 0 !important;
  margin: 0 !important; */
  color: #333 !important;
}

/* ::selection {
  background: transparent;
} */

/* ::-webkit-input-placeholder {
  color: #333 !important;
} */

/* ############# Regular Style ############# */

/*  ----------input search cancel button ---------- */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;

  height: 18px;
  width: 18px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.nav-link {
  font-family: "Segoe UI", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 6px !important;
  padding-bottom: 3px !important;
}

/* ############# Regular Style ############# */

/* ############# Bootstrap style override ############# */
.active {
  /* border-bottom: 2px solid cyan; */
  background-color: transparent !important;
  text-decoration: underline solid #0dcaf0 1.5px !important;
  text-underline-offset: 7px !important;
}

.list-group-item.active {
  color: #fff !important;
  background-color: #0dcaf0;
  border: none;
  text-decoration: none;
}

.btn-info {
  color: #fff !important;
}

.btn-outline-info:hover {
  color: #fff !important;
}

.btn-outline-danger:hover {
  color: #fff !important;
}

.form-select {
  --bs-form-select-bg-img: none;
}

.form-control {
  -webkit-box-shadow: none !important;
}

.form-control:focus {
  border-color: #bbb;
}

.logo {
  background-color: transparent !important;
  text-decoration: none !important;
  text-underline-offset: none !important;
}

/* ############# Bootstrap style override ############# */

/* antd */

.ant-ribbon-text {
  color: #fff !important;
}

.ant-badge-count {
  background-color: #0dcaf0 !important;
  color: #fff !important;
}

.ant-scroll-number-only-unit {
  background-color: #0dcaf0 !important;
  color: #fff !important;
}

/*  */
.pointer {
  cursor: pointer;
}

.card-button {
  border-radius: 0px;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

/* #####################JUMBOTRON######################### */

/* jumbotron color animation css */
.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(90deg, #087ee1, #05e8ba, #50d8d7, #923993);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease-in-out infinite;
  -moz-animation: Gradient 15s ease-in-out infinite;
  animation: Gradient 15s ease-in-out infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ######################################## */
